@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #607B96;
  --background-color: #011627;
  --border-color: #1E2D3D;
  --font-size: 1rem;
  --accent-color: #FEA55F;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  font-size: var(--font-size);
  height: 100vh;
}
